/* image */
img {
    display: inline;
}

/* modal */
.modal-dialog {
    box-shadow: none;
}

ul {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* form */
.display_data p {
    font-size: 20px;
    margin-bottom: 0;
}

.display_data .form-group:last-child {
    margin-bottom: 0;
}

/* button delete */
.tabs-animated .delete .nav-link::before {
    background-color: #d92550;
    /*--danger*/
}

/* pagination */
nav[aria-label="Pagination Navigation"] span[aria-current=page]>span {
    background-color: #3f6ad8f0 !important;
    border: 1px solid #3f6ad8 !important;
    /*opacity: 0.9;*/
    color: #fff;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

nav[aria-label="Pagination Navigation"] a {
    text-decoration: none;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

nav[aria-label="Pagination Navigation"] a:first-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

nav[aria-label="Pagination Navigation"] a:last-child {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

nav[aria-label="Pagination Navigation"] a:hover {
    background-color: #e9ecef !important;
    color: #0056b3;
}

/* icon setting */
.ui-theme-settings .btn-open-options {
    bottom: 48px;
}

td.td-radio {
    margin: 0 auto;
}

.create-nhan-hieu {
    display: none;
    position: fixed;
    width: 50%;
    /* height: 100%; */
    top: 7%;
    /*background-color: #d92550;*/
    left: 30%;
    z-index: 100;
}

.create {
    display: none;
    position: absolute;
    width: 50%;
    /* height: 100%; */
    top: 38%;
    /*background-color: #d92550;*/
    left: 35%;
    z-index: 100;
}

.title {
    font-size: 24px;
    font-family: cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}

.nhan-hieu-hinh {
    display: block;
    /* position: absolute; */
    /* top: 0; */
    /* height: 100%; */
    /* width: 100%; */
}

.hinh-nhan-hieu {
    position: relative;
}

.widget-content-center {
    text-align: center;
}

.error {
    display: block;
}

a.btn.btn-outline-warning.border-0.btn-sm {
    color: #f7c95b;
}

a.btn.btn-outline-warning.border-0.btn-sm:hover {
    color: #070707;
}

a.mr-1.nut-huy {
    color: red;
}

a.mr-1.nut-huy:hover {
    color: white;
}

.label-hinh-moi {
    background: aquamarine;
    font-family: sans-serif;
    font-size: 50px;
    display: none;
}

.hinhanh>img {
    height: 200px;
    width: calc(100% - 40%);
}

.hinhanhsp>img {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.hinhanh {
    text-align: end;
}

li#hinh-anh-san-pham {
    display: none;
}

.btn-them {
    display: none;
}

a.btn-shadow.btn-hover-shine.mr-3.btn.btn-primary {
    color: white;
}

li a {
    text-transform: capitalize;
}

.them-slideshow-check {
    margin: 10px 0 0 0;
}

.hinh-logo {
    max-width: 120px;
    max-height: 50px;
    height: 50px;
    width: 120px;

}

.hinh-banner {
    max-width: 1920px;
    max-height: 150px;
    height: 150px;
    width: 1920px;
}

.app-header__logo .logo-src img {
    max-width: 180px;
    max-height: 30px;
    min-height: 30px;
    min-width: 120px;
}

.btn-actions-pane-center {
    margin-left: auto;
    white-space: nowrap;
}

/* select */
/* chi tiết hình ảnh bình luận */
.hinh-anh-binh-luan img {
    width: 72px;
    height: 72px;
}

.hinh-anh-binh-luan {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.img-binh-luan {
    width: calc(25% - 10px);
    margin: 5px;
    max-height: 140px;
}

.form-danh-gia-san-pham {
    background: white;
    box-shadow: 0 0 10px 10px #EDEDED;
    padding: 20px;
    position: fixed;
    top: 5rem;
    left: calc(100% - 71%);
    width: 700px;
    z-index: 200;
    display: block;
    height: 480px;
    overflow-y: auto;
}

.chat-luong-san-pham {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-stars.text-center {
    font-size: 10px;
}

.chat-luong-san-pham .name {
    font-size: 16px;
    margin-right: 20px;
}

.tt-danh-gia-san-pham .tt {
    text-align: center;
    font-family: 'UTMAvo';
    font-size: 44px;
    text-transform: uppercase;
    color: #7fad39;
}

.text-danh-gia {
    margin: 15px 0;
}

.attachments {
    border: 1px solid #eee;
    display: block;
    padding: 10px;
    text-align: right;
    border-top: 0;
    background: #fff;
}

.attachments .fileContainer [type="file"] {
    right: 6px;
    top: -18px;
    width: 20px;
}

.attachments {
    border: 1px solid #eee;
    display: block;
    padding: 10px;
    text-align: right;
    border-top: 0;
    background: #fff;
}

.attachments>ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

.attachments li {
    display: inline-block;
    margin-left: 5px;
}

.fileContainer {
    color: #d8d8d8;
    font-size: 11px;
    margin: 0 0 0 5px;
    position: relative;
    text-transform: capitalize;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.edit-phto .fileContainer [type="file"] {
    height: 35px;
    top: -11px;
    width: 126px;
}

.description {
    float: left;
    margin-top: 12px;
    width: 100%;
}

.content-post {
    border: 3px solid #eeeeee;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    resize: none;
}

.preview-upload img {
    width: 100px;
    height: 100px;
    margin: 7.5px;
}

.preview-upload {
    margin-top: 20px;
}

.phan-loai-san-pham {
    opacity: 0.7;
}

.detail-product {
    display: flex;
    margin: 10px 20px 10px 0;
    position: relative;
}

.img-product {
    min-width: 80px;
    float: left;
    margin-right: 20px;
}

.img-product img {
    width: 80px;
    height: 80px;
}

/* sao đánh giá */

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type: none;
    padding: 0;
}

.rating-stars ul>li.star {
    display: inline-block;

}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
    font-size: 2.5em;
    /* Change the size of the stars */
    color: #ccc;
    /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
    color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
    color: #FF912C;
}

.sao-active {
    color: #7fad39;

}

.sao {
    font-size: 15px;
}

/* ------------------
back ground full
-------------------*/
.theme-layout {
    float: left;
    position: relative;
    width: 100%;
}

.theme-layout.active::before {
    opacity: 1;
    visibility: visible;
}

.theme-layout::before {
    background: url(../images/dot-pattern.png);
    background-repeat: repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5s linear 0s;
    visibility: hidden;
    opacity: 0;
}

.app-page-title .page-title-heading {
    text-transform: uppercase;
}

table.align-middle.mb-0.table.table-borderless.table-striped.table-hover {
    text-transform: revert;
}

.title-table {
    text-align: center;
    transform: inherit;
}

.form-group-checked {
    display: flex;
}

.custom-switch-input.section-parent {
    vertical-align: middle;
}

/* tỉnh huyện xã */
.tinh-huyen-xa {
    justify-content: space-between;
    padding: 0 15px;
}

.tinh-huyen-xa select {
    width: 180px;
    max-width: 200px;
    border: solid 2px;
    height: 38px;
    max-height: 38px;
}

.select-dia-diem-id {
    width: 100%;
    /* max-width: 200px; */
    border: solid 2px;
    height: 38px;
    max-height: 38px;
}
/* chi tiết đơn hàng */
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.display_data p {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 37px;
}

.chi-tiet-tien-don-hang {
    background-color: #fafafa;
    border-top: 1px solid rgba(0, 0, 0, .09);
}

.chi-tiet-tien {
    padding: 0 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    border-bottom: 1px dotted rgba(0, 0, 0, .09);
}

.ten-tien {
    padding: 13px 10px;
    color: rgba(0, 0, 0, .54);
    font-size: 20px;
}

.gia-tien {
    padding: 13px 0 13px 10px;
    width: 240px;
    border-left: 1px dotted rgba(0, 0, 0, .09);
    justify-content: flex-end;
    word-wrap: break-word;
    color: rgba(0, 0, 0, .8);
}

.tt-chi-tiet-don-hang {
    padding: 20px 24px;
    font-size: 20px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trang-thai-chi-tiet .trang-thai {
    color: #ee4d2d;
    text-transform: uppercase;
}

.tt-chia {
    margin: 0 20px;
}

.tro-lai a {
    color: rgba(0, 0, 0, .54);
}

.tro-lai a:hover {
    color: #7fad39;
}
